---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


// fix bad contrast in dark syntax hightligh
@media (prefers-color-scheme: dark) {
    .highlight {
        .c1 { color: #898989; }
        .c { color: #898989; }
        .cs { color: #898989; }

        .nn { color: #d3a250; }
    }
}

// show anchor on hover
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor {
    visibility: visible,
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor {
    visibility: hidden,
}
